BOT_TOKEN=PASTE_YOUR_NEW_BOT_TOKEN_HERE
ADMIN_CHAT_ID=PASTE_YOUR_TELEGRAM_ID_HERE
BOT_USERNAME=ustoyor_service_bot
ADMIN_USERNAME=safiyulloh_dev
WHATSAPP_NUMBER=992990906023
PHONE_NUMBER=992711822211
PORT=3000
